* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* Commen Css */
.dark-color{
  color: #37517e;
}
.bg{
  background-color: #37517e;
}
.bg-white{
  background-color: #fff;
}
.bg-lite{
  background-color: #85b9f0;
}
.bg-btn{
  background-color: #14a5e8;
}
.bg-icon{
  color: #47b2e4;
}
.text-color{
  color: #fff;
}
.section-title h2 {
  padding-bottom: 0px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.line {
  padding: 1px 0px;
}
@media screen and (max-width: 800px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
.nav-link {
  padding: 10px 25px !important;
}
.navbar {
  padding: 5px 0px;
}
.logo a {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: opacity .125s linear;
}
.collapse .getstarted {
  padding: 8px 20px;
  position: relative;
  top: 7px;
  border-radius: 50px;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}
.collapse .getstarted:hover {
  color: #fff;
  background: #31a9e1;
}

#home {
  height: 90vh;
  padding: 10px 0px;
}

.home-row h1 {
  margin-top: 100px;
  font-size: 45px;
  font-weight: 700;
}
.home-row h2 {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
}
.home-row .btn-started {
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  padding: 10px 28px 10px 28px;
}
.image1 {
  width: 100%;
  margin-top: 50px;
  /* border: 2px solid; */
}
.image1 img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .home-row h1 {
    margin-top: 30px;
  }
  .image1 {
    width: 100%;
    margin-top: 50px;
  }
}
/* Home Css End */
#home-foot {
  padding: 13px 0px;
  text-align: center;
}

.image2 img {
  width: 45%;
  display: inline-block;
  padding: 13px 0;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100);
}
.image2 img:hover {
  filter: none;
  transform: scale(1.1);
}
@media screen and (max-width: 767px) {
  .image2 img {
    width: 50%;
    padding: 20px 0px;
  }
}
/* Home foot css End */

#about {
  padding: 15px 0px;
}
#about .about2 .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 12px 32px;
  border: 2px solid;
  border-radius: 4px;
  color: #47b2e4;
}
#about .about2 .btn-learn-more:hover {
  background-color: #31a9e1;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .line{
    width: 50%;
    padding: 1px 0px;
  }
}

/* About Css End */

.background-img {
  background: linear-gradient(rgba(40, 58, 90, 0.7), rgba(40, 58, 90, 0.7)),
    url('./component/assets/img/cta-bg.jpg') fixed center center;
  background-size: cover;
  padding: 120px 0px;
}
.background-img h3 {
  font-size: 28px;
  font-weight: 700;
}
.background-img p {
  font-size: 18px;
}
.background-img .background-img-btn {
  font-family: "Jost", sans-serif;
  letter-spacing: 1px;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 12px 40px;
}
.background-img .background-img-btn:hover {
  border: 2px solid #47b2e4;
  background-color: #47b2e4;
  color: #fff;
}

/* About Background Imeg Css End */

/* .team {
  padding: 15px 0px;
}
.card-body .team-icon i {
  padding: 10px 10px;
  border: 2px solid;
  border-radius: 50%;
}
.card {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.3);
  transition: all ease-in-out 0.4s;
}
.card img {
  border-radius: 50%;
} */

/* Team Css End */

.service {
  padding: 20px 0px;
}
.icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  transition: all ease-in-out 0.4s;
  border-radius: 50px;
}
.icon-box .icon {
  font-size: 40px;
  transition: 0.3s;
  color: #31a9e1;
}
.icon-box .icon h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}
.icon-box h4 a {
  transition: ease-in-out 0.3s;
}
.icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.icon-box:hover {
  transform: translateY(-10px);
}
.icon-box:hover h4 a {
  color: #47b2e4;
}

/* Service Css End */

.contact {
  padding: 20px 0px;
}
.contact .info {
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.4);
}
.contact .info i {
  font-size: 25px;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  color: #47b2e4;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
iframe{
  width: 100%;
  height: 290px;
}
.contact .info p {
  padding: 0px 0px 10px 60px;
  margin-bottom: 20px;
}
.contact .info .mail:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #47b2e4;
  color: #fff;
}
.contact .form-php-mail {
  width: 100%;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 20px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.4);
}
.contact .form-php-mail button[type="submit"] {
  border: 0;
  padding: 12px 34px;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .form-php-mail button[type="submit"]:hover {
  background-color: #339ecf;
}
textarea{
  height: 200px;
}
@media screen and (max-width: 767px) {
  .form-php-mail{
    margin-top: 30px;
  }
}

/* Contact Css End */

.news {
  padding: 5px 0px;
}
.news .news-letter {
  padding: 20px 0px;
}
.news .news-letter h4 {
  font-size: 24px;
  font-weight: 600;
}
.news .news-letter form {
  margin-top: 30px;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}
.news .news-letter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
.news .news-letter form input[type="submit"] {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: none;
  font-size: 16px;
  padding: 0 20px;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

/* News Css End */

.footer {
  padding: 15px 0px;
}
.footer-sec2 ul li a , .footer-sec3 .common-name {
  color: grey;
}
.footer-sec4 .footer-icon i {
  font-size: 25px;
  float: left;
  width: 15%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  color: #47b2e4;
}
.footer-sec4 .footer-icon i:hover {
  background-color: #339ecf;
  color: #fff;
}
.footer-end {
  padding: 10px 0px;
}
